//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/home/alan/.local/share/rofi/themes/squared-everforest.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "nord"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
